[Unit]
Description=gohouseweb daemon
After=network.target

[Service]
User=sergio.santos
Group=users
WorkingDirectory=/home/sergio.santos/gohouse/goHouseWeb
#ExecStart=gunicorn --access-logfile - --workers 3 --bind unix:/root/revamp/revamp.sock revamp.wsgi:application
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:5000 -w 2 webapp:app

[Install]
WantedBy=multi-user.target

